<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Behance</title>
    <link rel="icon" href="images/login/Be.ico" type="image/x-icon">
    <link rel="stylesheet" href="stylesheets/login/index.css">
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/base64.js"></script>
    <script src="javascripts/md5.js"></script>
    <script src="javascripts/login.js"></script>

  </head>
  <body>
    <div class="main-body">
      <div class="login-body">
        <div class="title">
          登陆
        </div>
        <div class="login-body-content">
          <ul class="login-body-content-ul">
            <li>
              <span>用户名</span>
              <div class="li-input">
                <img src="images/login/username.png" alt="">
                <input type="text" name="" value="" placeholder="请输入用户名">
              </div>
            </li>
            <li>
              <span>密码</span>
              <div class="li-input">
                <img src="images/login/password.png" alt="">
                <input type="password" name="" value="" placeholder="请输入密码" id="inppassword">
              </div>
              <button type="button" name="button" class="forget-password">忘记密码？</button>
            </li>
          </ul>
        </div>
        <div class="btn" id="asdsad">
          <button type="button" name="button" id="ln">登陆</button>
        </div>
        <div class="other-login-way">
          <span>第三方登陆</span>
          <div class="">
            <ul>
              <li>
                <img src="images/login/weixin.png" alt="">
              </li>
              <li>
                <img src="images/login/qq.png" alt="">
              </li>
              <li>
                <img src="images/login/weibo.png" alt="">
              </li>
            </ul>
          </div>
        </div>
        <div class="register-btn">
          <button type="button" name="button" id="goToRegister">立即注册</button>
        </div>
      </div>
    </div>
  </body>
</html>
