<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Behance</title>
    <link rel="icon" href="/images/main/Be.ico" type="image/x-icon">
    <link rel="stylesheet" href="/stylesheets/main/index.css">
    <script src="javascripts/jquery.js"></script>
    <script src="javascripts/cos.js"></script>
    <script src="javascripts/main.js"></script>
  </head>
  <body>
    <header>
      <nav>
        <div class="nav-left">
          <div class="logo">
            <img src="/images/main/Be.png" alt="">
            <span>&nbsp;&nbsp;Behance</span>
          </div>
          <div class="search">
            <div class="">
              <img src="/images/main/search.png" alt="">
            </div>
            <input type="text" name="" value="" placeholder="搜索图片或视频">
          </div>
        </div>
        <div class="nav-middle">
          <ul>
            <li>Explore</li>
            <li>Collection</li>
            <li style="font-size:30px;">···</li>
          </ul>
          <div class="division"></div>
        </div>
        <div class="nav-right">
          <div class="up-btn">
            <button type="button" name="button">upload</button>
          </div>
          <div class="log-btn">
            <button type="button" name="button" id="toLogin">Login</button>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="container">
        <div class="pic-container">
          <h1 style="margin:0;">Pictures</h1>
          <ul class="pic-container-ul">
            <li>
              <div class="img-container">
                <img src="/images/main/gif.gif" data-src="https://i.loli.net/2019/12/24/xARpb8wz2S5DjQf.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Food Flatlays - Light + Bright</p>
              </div>
              <div class="tag">
                <div class="">
                  Bright
                </div>
                <div class="">
                  Flatlay
                </div>
                <div class="">
                  Food Images
                </div>
              </div>
            </li>
            <li>
              <div class="img-container">
                <img src="/images/main/gif.gif" data-src="https://i.loli.net/2019/12/24/DZPLAvtmOT4kr2z.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Negative Space For Lettering</p>
              </div>
              <div class="tag">
                <div class="">
                  Space Images
                </div>
                <div class="">Flatlay</div>
                <div class="">
                  HD White Wallpapers
                </div>
              </div>
            </li>
            <li>
              <div class="img-container">
                <img src="/images/main/gif.gif" data-src="https://i.loli.net/2019/12/24/4M6coxTXmVZF5n9.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Winter</p>
              </div>
              <div class="tag">
                <div class="">
                  Winter Images
                </div>
                <div class="">
                  HD Snow Wallpapers
                </div>
                <div class="">
                  Winter Landscape
                </div>
              </div>
            </li>
            <li>
              <div class="img-container">
                <img src="/images/main/gif.gif" data-src="https://i.loli.net/2019/12/24/nw7qMazcNSYli9m.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Baby it's cold outside</p>
              </div>
              <div class="tag">
                <div class="">
                  Cold
                </div>
                <div class="">
                  Christmas Images
                </div>
                <div class="">
                  HD Holiday Wallpapers
                </div>
              </div>
            </li>
            <li>
              <div class="img-container">
                <img src="/images/main/gif.gif" data-src="https://i.loli.net/2019/12/24/fEn1h3VAQD8Jdrm.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Christmas Traditions</p>
              </div>
              <div class="tag">
                <div class="">
                  Christmas Images
                </div>
                <div class="">
                  Christmas Images
                </div>
                <div class="">
                  Festive
                </div>
              </div>
            </li>
            <li>
              <div class="img-container">
                <img src="/images/main/gif.gif" data-src="https://i.loli.net/2019/12/24/9dnxCS2i7tjDK5F.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Shadow Play</p>
              </div>
              <div class="tag">
                <div class="">
                  Shadow
                </div>
                <div class="">
                  Accessory
                </div>
                <div class="">
                  Clothing
                </div>
              </div>
            </li>
            <li>
              <div class="img-container">
                <img src="/images/main/gif.gif" data-src="https://i.loli.net/2019/12/24/9rnHP2oCMqjpZDf.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Food Flatlays - Light + Bright</p>
              </div>
              <div class="tag">
                <div class="">
                  Bright
                </div>
                <div class="">
                  Flatlay
                </div>
                <div class="">
                  Food Images
                </div>
              </div>
            </li>
            <li>
              <div class="img-container">
                <img src="/images/main/gif.gif" data-src="https://i.loli.net/2019/12/24/HiSaNQ1mFtPx8hp.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Negative Space For Lettering</p>
              </div>
              <div class="tag">
                <div class="">
                  Space Images
                </div>
                <div class="">Flatlay</div>
                <div class="">
                  HD White Wallpapers
                </div>
              </div>
            </li>
            <li>
              <div class="img-container">
                <img src="/images/main/gif.gif" data-src="https://i.loli.net/2019/12/24/gWSwHmxVc2398Ky.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Winter</p>
              </div>
              <div class="tag">
                <div class="">
                  Winter Images
                </div>
                <div class="">
                  HD Snow Wallpapers
                </div>
                <div class="">
                  Winter Landscape
                </div>
              </div>
            </li>
            <li>
              <div class="img-container">
                <img src="" data-src="https://i.loli.net/2019/12/24/XA9SilfNOuGvRrE.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Baby it's cold outside</p>
              </div>
              <div class="tag">
                <div class="">
                  Cold
                </div>
                <div class="">
                  Christmas Images
                </div>
                <div class="">
                  HD Holiday Wallpapers
                </div>
              </div>
            </li>
            <li>
              <div class="img-container">
                <img src="" data-src="https://i.loli.net/2019/12/24/r2yKh68GvTBEYbi.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Christmas Traditions</p>
              </div>
              <div class="tag">
                <div class="">
                  Christmas Images
                </div>
                <div class="">
                  Christmas Images
                </div>
                <div class="">
                  Festive
                </div>
              </div>
            </li>
            <li>
              <div class="img-container">
                <img src="" data-src="https://i.loli.net/2019/12/24/9dnxCS2i7tjDK5F.jpg" alt="">
              </div>
              <div class="des-container">
                <p>Shadow Play</p>
              </div>
              <div class="tag">
                <div class="">
                  Shadow
                </div>
                <div class="">
                  Accessory
                </div>
                <div class="">
                  Clothing
                </div>
              </div>
            </li>
          </ul>
        </div>
        <div class="video-container">
          <h1>Videos</h1>
          <ul>
            <li>
              <video src="/images/main/1.mov" controls poster="/images/main/7.jpg" preload="metadata">
              </video>
              <div class="des-container">
                <p>October Afternoon</p>
              </div>
              <div class="tag">
                <div class="">
                  October
                </div>
                <div class="">
                  HD Autumn Wallpapers
                </div>
                <div class="">
                  Fall Images
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </main>
  </body>
</html>
